.casestudies {
    padding: 30px;
}

.casestudies a:hover {
    text-decoration: none;
    color: var(--openms-dark);
}
.casestudies a {
    color: var(--openms-content-link, var(--openms-navy)) !important;
}

